*{
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
.clear{
    clear: both !important;
}
/* css group*/
a{
    text-decoration: none !important;
}
input{
    text-align: left;
}
a:hover{
    text-decoration: none;
    opacity: 0.9;
}
#main{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
#header{
    z-index: 1;
    width: 100%;
    height: 100px;
    position: relative;
    background-color: red;
}
.w40-h40-bw-r5{
    border-radius: 50%;
    width: 40px;
    background-color: white;
    height: 40px;
}
li{
    text-align: left;
}
.text-left{
    text-align: left;
}
/* nav-bar css*/
.nav-bar > div h4{
    margin-top: 40px;
    font-size: 0.9213vw;
    font-weight: bold;
}
.nav-bar > div i:not(.icon-search){
    position: absolute;
    margin-top: 9px;
    margin-left: -15px;
}
.nav-bar > div{
    height: 100%;
}
.nav-bar{
    height: 60%;
    width: 100%;
    padding: 5px auto;
}
.nav-bar > div i:not(.icon-search){
    padding-left: 5px;
}
.logo-header{
    height: 85px;
    margin-top: -9px;
    background-size: cover;
}
.nav-search {
    margin: 5px 0px;
}
.in, .circle-left, .circle-right{
    height: 65%;
    margin-top: 5px;
}
.circle-right{
    margin-left: -33%;
    padding: 8px;
}
.circle-left{
    margin-left: 60%;
}
.in {
    position: relative;
    width: 100%;
    color: black;
    border: none;
    outline: none;
    overflow-x: hidden;
    text-align: left;
    font-size: 1.7rem;
}

.icon-search {
    color: black;
    font-size: 22 !important;
    position: relative;
    border-radius: 50%;
    outline: 5px red solid;
    outline-offset: 7px;
}

.in-reset {
    display: none;
    outline: none;
}
i{
    font-size: 1.8vw;
    font-weight: bold;
}
/* nav-customer css*/
.product-mount{
    font-size: 10px;
    display: inline;
    margin-left: -10px;
}
.nav-customer{
    display: inline-block;
    justify-content: space-around;
    color: white;
}
.nav-customer > div:not(#cart-form):hover, .nav-mobile div:hover{
    border-bottom: 2px solid white;
    color: rgb(12, 12, 12);
}
.cus-hot-news > i{
    animation: advertText 0.2s linear infinite alternate;
}
.drop-list-item{
    position: absolute;
    width: 180px;
    color: black;
    display: none;
    padding: 0;
    font-weight: bold;
    top: 130px;
    background-color: white;
    box-shadow: 2px 2px 3px black;
}

.nav-customer > div:hover .drop-list-item{
    display: block;
    line-height: 18px;
    color: gray;
    transition: top 0.3 ease;
    border-top: 1px solid black;
    top: 60%;
}
.nav-customer > div{
    font-weight: bold;
    height: 100%;
}
.drop-list-item > li{
    font-size: 15px !important;
    padding: 15px;
    width: 100%;
}
.drop-list-item > li:hover{
    color: black;
    background-color: rgb(211, 83, 83);
}
/* cart-form */
#cart-form{
    width: 70%;
    border-radius: 20px;
    height: auto;
    max-height: max-content;
    position: absolute ;
    top: 150px;
    left: 150px;
    border: 1px solid gray;
    background-image: linear-gradient(to top right, rgb(215, 138, 138) , rgb(229, 143, 143));
}
.header-cart-form{  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(214, 180, 119);
}
.content-cart-form{
    width: 100%;
}
.paying{
    padding: 10px 20px;   
    line-height: 30px;
}
/* mobile */
.menu-mobile-icon{
   margin-top: 0 !important;
   height: 40px;
   width: 60px;
   padding-right: 30px;
   color: white;
   line-height: 40px;
}
.nav-mobile{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    right: 30px;
    width: 120px;
}
.nav-mobile div i {
    font-size: 28px;
}
.nav-mobile div i .mount-of{
    top: 0px;
    left: 28px;
    font-size: 12px;
    position: absolute;
}
.mobile-menu{
    top: 45px;
}
div.mobile-menu:hover .drop-list-item{
    display: block;
    top: 100%;
    right: -30px;
    animation: hideToShow 1s linear;
}
.sublist-mobile-js{
    display: none;
}
.sublist-mobile-js >li> a:active{
    color: white;
}
.mobile-dropdown-js:hover .sublist-mobile-js{
    display: block;
    line-height: 30px;
}
/* danh mục sản phẩm*/
.product-bar{
    background-color: black;
    height: 40%;
    text-align: center;
    line-height: 40%;
}
.portfolio-list{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: -10px;
    height: 100%;
    line-height: 50px;
}
.portfolio-list > div{
    max-width: max-content;
    font-size: 0.8vw;
}
.portfolio-list > div > a{
    color: white;
    text-transform: uppercase;
    font-size: 130%;
}
/* product-summary-view*/
.product-summary-view{
    width: 82%;
    background-color: white;
    position: absolute;
    top: 133px;
    left: 10%;
    border: 1px solid gray;
    visibility: hidden;
    box-shadow: 2px 2px 2px gray;
    line-height: 30px;
    transition: top 0.15s linear, visibility 0.15s linear;
}
ul li a{
    color: black;
    font-size: 14px;
    opacity: 0.8;
}
ul li a:hover{
    opacity: 1;
}
.portfolio-list > div:hover .product-summary-view
{
    visibility: visible;
    top: 100px;
} 
/* drop list for productbar*/
.portfolio-list > div:hover .drop-list-item{
    display: block;
    transition: top 0.3 ease-in;
    top: 100px;
    line-height: 15px;
    color: gray;
    border: 1px solid gray;
}
.product-summary-view > div{
    padding: 10px;
    color: black !important;
}
.manufacture-list{
    padding-left: 0px;
    column-gap: 15%;
    column-count: 3;
}
.level-cost{
    list-style-type: square;
    padding-left: -10px;
}
.about-product{
    border-right: 1px solid gray;
}
.best-selling{
    border-left: 1px solid gray;
}
.top-selling a{
    color: black !important;
    line-height: 5px;
    padding-top: 0px;
}
.top-selling{
    float: left;
    width: 50%;
    line-height: 35px;
    margin-left: 6px;
}
.img-top-sell{
    float: left;
}

.descript-top-sell{
    margin-top: 0px;
    padding-left: 90px;
    text-align: left;
}
.descript-top-sell a{
    line-height: 20px;
    font-weight: bold;
    width: 40px;
}
.descript-top-sell > p{
    color: red; 
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}
.img-extra-selling{
    float: right;
    width: 50%;
    margin-right: -20px;
}
.img-extra-selling a img{
    background-color: black;
}

@keyframes upToDelivery{
    from{
        top: 100px;
    }
    to{
        top: 65px;
    }
}
@keyframes advertText{
    0%{
        color: rgb(0, 11, 12);
    }   
    100%{
        color:white;
    }
}
@keyframes hideToShow {
    0%{
        right: -190px;
    }
    50%{
        right: -100px;
    }
    100%{
        right: -30px;
    }
}
