
@media only screen and (min-width: 900px) and (max-width: 1024px)
{
    #header{
        height: 110px;
    }
    .logo-header{
        width: 152px;
        margin-top: 5px;
        height: 67px;
    }
    .icon-search{
        top: 6px;
        outline-offset: 8px;
    }
    .nav-bar div i, .nav-bar div div i{
        font-size: 18px;
    }
    .nav-bar > div h5{
        margin-top: 35px;
        font-size: 12px;
    }
    .circle-left{
        margin-left: 48%;
    }
    .circle-right{
        margin-left: -49%;
        padding-right: 5px;
        padding-top: 6px;
    }
    .portfolio-list{
        width: 83%;
        margin-left: 9%;
    }
    .portfolio-list div{
        margin-right: 15px;
        padding-top: 10px;
    }
    .portfolio-list > div a{
        font-size: 14px;
        top: -7px;
        position: relative;
    }
    .nav-customer{
        margin-top: 5px;
    }
    .nav-customer > div:hover .drop-list-item{
        top:48px;
    }
    .portfolio-list > div:hover .drop-list-item{
        top: 78px;
    }
    .portfolio-list > div:hover .product-summary-view{
        top: 58px;
        left: 90px;
    }
    .product-summary-view{
        width: 90%;
        margin-left: 0px;
    }
    /**/
    .product-bar div a{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 820px)
{
    #header{
        height: 110px;
    }
    div.mobile-menu:hover .drop-list-item{
        top: 120%;
        right: -70px;
    }
    .product-bar, .nav-customer{
        visibility: hidden;
    }
    .nav-mobile{
        visibility: visible;
    }
    .nav-mobile > div i{
        font-size: 32px;
        color: white;
    }
    .nav-mobile div{
        margin-right: 70px;
    }
    .icon-search{
        top: 8px;
        outline-offset: 9px;
        outline-width: 7px;
    }
     .in, .circle-left, .circle-right{
         height: 75%;
         margin-top: 30px;
     }
     .circle-left{
         margin-left: 37%;
         width: 50px;
     }
     .circle-right{
         margin-left: -45%;
     }
     .logo-header{
         position: absolute;
         margin: 20px;
         height: 77px;
         width: 140px;
     }
}
@media (min-width: 360px) and (max-width: 500px)
{
    #header{
        height: 110px;
    }
    .product-bar, .nav-customer{
       visibility: hidden;
    }
    .icon-search{
        top: 4.5px;
    }
    .nav-mobile{
        visibility: visible;
        color: white;
    }
    .in, .circle-left, .circle-right{
        height: 50%;
        margin-top: 48px;
    }
    .circle-left{
        margin-left: 38%;
    }
    .circle-right{
        margin-left: -40%;
    }
    .logo-header{
        position: absolute;
        height: 57px;
        width: 120px;
        margin: 2px 7px;
    }
}
@media (min-width: 200px) and (max-width: 359px)
{
    #header{
        height: 110px;
    }
    .product-bar, .nav-customer{
        visibility: hidden;
     }
     .icon-search{
         top: 1px;
     }
     input.in:placeholder-shown{
        font-size: 10px;
     }
     .nav-mobile{
         visibility: visible;
         color: white;
     }
     .in, .circle-left, .circle-right{
         height: 50%;
         margin-top: 38px;
     }
     .circle-left{
         margin-left: 23%;
     }
     .circle-right{
         margin-left: -60%;
     }
     .logo-header{
         position: absolute;
         height: 47px;
         width: 100px;
         margin: 1px 4px;
     }
}